<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAR_Resid__Beta_Version_3_.Model.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SAR_Resid__Beta_Version_3_.Resources.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SAR_Resid__Beta_Version_3_.Model.Settings.Settings1>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="RecentNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </SAR_Resid__Beta_Version_3_.Model.Settings.Settings1>
        <SAR_Resid__Beta_Version_3_.Resources.User>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
        </SAR_Resid__Beta_Version_3_.Resources.User>
    </userSettings>
</configuration>